<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <appSettings>
    <!-- システムモード【0】オートセッター【1】ボール貸出機 -->
    <add key="SYSTEMMODE" value="0" />
    <!-- システム区分【0】打席管理【0以外】打席と通信しない端末 -->
    <add key="SYSTEMKBN" value="1" />
    <!-- 店番-->
    <add key="SHOPNO" value="7706" />
    <!-- ICR700リーダーライターCOMポート名 -->
    <add key="ICR700RW_COM" value="COM12" />
    <!-- 通信変換機COMポート名 -->
    <add key="SEAT_COM" value="COM11" />
    <!-- KU-A201リーダライターCOMポート名 -->
    <add key="IA240RW_COM" value="COM1" />
    <!-- カードリードインターバル -->
    <add key="ReadInterval" value="0" />
    <!-- 送信後受信待ち時間 -->
    <add key="SLEEP_TIME" value="100" />
    <!-- データベース接続情報ファイルパス -->
    <add key="DbInfo_PATH" value="D:\IcSystem\アクティはしはま\GRAN31\DLL\DbInfo.xml" />
    <!-- 帳票用エクセルテンプレートファイルパス -->
    <add key="TEMPLATE_PATH" value="D:\IcSystem\アクティはしはま\GRAN31\TEMPLATE" />
    <!-- 帳票用エクセル保存先ファイルパス -->
    <add key="REPORT_PATH" value="D:\IcSystem\アクティはしはま\GRAN31\REPORT" />
    <!-- 呼び出し音ファイルパス -->
    <add key="YOBIDASHI_PATH" value="D:\IcSystem\アクティはしはま\GRAN31\SOUND\yobidashi.wav" />
    <!-- 単価切り替え音ファイルパス -->
    <add key="TANKA_PATH" value="D:\IcSystem\アクティはしはま\GRAN31\SOUND\tanka.wav" />
    <!-- 画像ファイルパス -->
    <add key="IMAGE_PATH" value="D:\IcSystem\アクティはしはま\GRAN31\IMAGE" />
    <!-- 時刻調整ファイルパス -->
    <add key="JIKOKU_PATH" value="D:\IcSystem\アクティはしはま\GRAN31\BATCH\時刻調整\jikoku_chosei.bat" />
    <!-- バックアップファイルパス -->
    <add key="BackUp_PATH" value="D:\IcSystem\アクティはしはま\GRAN31\BackUp_Tool\BackUp.bat" />
    <!-- スクールメニューファイルパス -->
    <add key="SCLMENU_PATH" value="C:\Users\Administrator\Desktop\スクールメニュー" />
    <!-- 予約受講画面ファイルパス -->
    <add key="SCL010_PATH" value="C:\Users\Administrator\Desktop\予約受講画面" />
    <!-- MULTIDISPの表示タイプ 【0】標準 【0以外】ストーブあり -->
    <add key="MULTIDISP_TYPE" value="0" />
    <!-- メニュー選択可能区分 【業務・マスタ・帳票・ｽｸｰﾙ】  -->
    <add key="MENU_KBN" value="1110" />
    <!-- ﾊﾟｽﾜｰﾄﾞ区分  【メニュー起動時・CSV出力】-->
    <add key="PW_KBN" value="00" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Security" publicKeyToken="0738EB9F132ED756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>