<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <appSettings>
    <!-- フロア階数 -->
    <add key="FLOOR_NUMBER" value="2" />

    <!-- *** 共通設定 *** -->
    <!-- 打席のサイズ【幅, 高さ】 -->
    <add key="SEAT_SIZE" value="54, 230" />
    <!-- 打席と打席の間隔 -->
    <add key="SEAT_PADDING" value="0" />
    <!-- 打席の並び【0】左から 【1】右から -->
    <add key="SEAT_RIGHT_TO_LEFT" value="1" />
    <!-- 打席の水平揃え【0】無効 【1】左揃え 【1】中央揃え 【2】右揃え -->
    <add key="SEAT_ALIGN" value="1" />
    <!-- ※未実装 打席の垂直揃え【-1】無効 【0】上 【1】中央 【2】下 -->
    <!--<add key="SEAT_VERTICAL_ALIGN" value="1" />-->
    <!-- 打席のフォント【フォント名, サイズ, スタイル【0:Regular 1:Bold 2:Italic 4:Underline 8:Strikeout】】 -->
    <add key="SEAT_FONT" value="Arial, 22.5, 1" />
    <!-- 円弧スタイル【適応範囲【0:自動配置】 , 値】 -->
    <add key="SEAT_ARC" value="0, 0.0" />
    <!-- 背景画像 -->
    <add key="BACK_IMAGE" value="D:\GRAN31\IMAGE\bg.png" />
    <!-- 背景画像(ストーブあり) -->
    <add key="BACK_IMAGE2" value="D:\GRAN31\IMAGE\bg2.png" />
    <!-- 打席番号色 -->
    <add key="SEAT_COLOR" value="#000000" />
    <!-- 左右打席（※UIUtilityの設定を使用するため未使用） -->
    <add key="LEFT_SEATS" value="1, 4, 31, 33, 45" />

    <!-- *** 1F設定 *** -->
    <!-- 1Fの打席数【始番号, 終番号】（※UIUtilityの設定を使用するため未使用） -->
    <add key="1F_SEATS_NUMBER" value="1, 35" />
    <!-- 1Fの打席の位置【X, Y】 -->
    <add key="1F_SEAT_LOCATION" value="250, 530" />
    <!-- 1Fの打席と打席の間隔 -->
    <add key="1F_SEAT_PADDING" value="4" />
    <!-- 円弧スタイル【適応範囲【0:自動配置】 , 値】 -->
    <add key="1F_SEAT_ARC" value="0, 0.0" />

    <!-- *** 2F設定 *** -->
    <!-- 2Fの打席数【始番号, 終番号】（※UIUtilityの設定を使用するため未使用） -->
    <add key="2F_SEATS_NUMBER" value="36, 70" />
    <!-- 2Fの打席の位置【X, Y】 -->
    <add key="2F_SEAT_LOCATION" value="50, 150" />
    <!-- 2Fの打席と打席の間隔 -->
    <add key="2F_SEAT_PADDING" value="4" />
    <!-- 円弧スタイル【適応範囲【0:自動配置】 , 値】 -->
    <add key="2F_SEAT_ARC" value="0, 0.0" />

    <!-- ※ 各階ごとにスタイルの設定をしたい場合はn階のnを変更することで設定を追加できます。 -->
    <!-- ※ 必要な項目を共通設定からコピーして使用すると便利です。 -->
    <!-- ※ 例) <add key="1F_SEAT_SIZE" value="55, 100" />-->

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Security" publicKeyToken="0738EB9F132ED756" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>