<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
  <appSettings>
    <!-- システムモード【0】オートセッター【1】ボール貸出機 -->
    <add key="SYSTEMMODE" value="0" />
    <!-- システム区分【0】入金機モード【1】自動受付専用端末【99】営業中止 -->
    <add key="SYSTEMKBN" value="0" />
    <!-- 機能 【0】なし【1】あり 【1桁目】ﾁｪｯｸｲﾝ【2桁目】ｶｰﾄﾞ確認【3桁目】入金【4桁目】新規発券 -->
    <add key="FUNCTION" value="1111" />
    <!-- 店番-->
    <add key="SHOPNO" value="7706" />
    <!-- ICR700リーダライターCOMポート名 -->
    <add key="ICR700RW_COM" value="COM5" />
    <!-- MCH3000ユニットCOMポート名 -->
    <add key="MCH3000_COM" value="COM3" />
    <!-- AD1COMポート名 -->
    <add key="AD1_COM" value="COM2" />
    <!-- レシートプリンターポート名 -->
    <add key="SK121_COM" value="COM4" />
    <!-- データベース接続情報ファイルパス -->
    <add key="DbInfo_PATH" value="D:\GRAN31\DLL\DbInfo.xml" />
    <!-- 音声ファイルパス -->
    <add key="SOUND_PATH" value="D:\GRAN31\SOUND\" />
    <!-- カードリードインターバル -->
    <add key="ReadInterval" value="0" />
    <!-- 時刻調整ファイルパス -->
    <add key="JIKOKU_PATH" value="D:\GRAN31\BATCH\時刻調整\jikoku_chosei.bat" />
    <!-- 画像ファイルのパス -->
    <add key="ROOT_IMAGE_PATH" value="D:\GRAN31\IMAGE\AUTOFRONT" />
    <!-- 結果画面でカード排出を停止し入金操作などを続けるモード【0】False【1】True -->
    <add key="RESULT_EJECTSTOP_MODE" value="1" />
    <!-- レイアウトタイプ【0】デフォルト【1】入金結果画面でボタンの位置を中央付近に -->
    <add key="LAYOUT" value="1" />
    <!-- チェックアウト時にﾐﾆｹﾞｰﾑを表示するか【0】しない【1】する-->
    <add key="MINIGAME" value="1" />
    <!-- ﾐﾆｹﾞｰﾑ設定【役1設定,役1取得ポイント, 役2設定,役2取得ポイント, 役3設定,役3取得ポイント】 -->
    <add key="SLOT_SETTING" value="9,0,7,1,6,2,5,3" />
    <!-- ﾐﾆｹﾞｰﾑ設定 利用料金に応じて当選確率を変動する【0】無効【1】有効-->
    <add key="SLOT_CORRECTION_ENABLED" value="1" />
    <!-- 新規発行時の顧客種別【1～10】※存在しない顧客種別を指定した場合、存在する最小値を採用する -->
    <add key="HAKKEN_NKBNO" value="2" />
    <!-- 有効期限切れ残高クリア 【0】クリアしないでカード受け付けない【1】クリアする -->
    <add key="ZANKIN_CLEARE" value="0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Security" publicKeyToken="0738EB9F132ED756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>