<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <appSettings>
    <!-- システム区分【0】打席管理【0以外】打席と通信しない端末 -->
    <add key="SYSTEMKBN" value="0" />
    <!-- 店番-->
    <add key="SHOPNO" value="7720" />
    <!-- ICR700リーダライターCOMポート名 -->
    <add key="ICR700RW_COM" value="COM1" />
    <!-- 通信変換機COMポート名 -->
    <add key="SEAT_COM" value="COM8" />
    <!-- データベース接続情報ファイルパス -->
    <add key="DbInfo_PATH" value="D:\GRAN31\DLL\DbInfo.xml" />
    <!-- 帳票用エクセルテンプレートファイルパス -->
    <add key="TEMPLATE_PATH" value="D:\GRAN31\TEMPLATE" />
    <!-- 帳票用エクセル保存先ファイルパス -->
    <add key="REPORT_PATH" value="D:\GRAN31\REPORT" />
    <!-- 呼び出し音ファイルパス -->
    <add key="YOBIDASHI_PATH" value="D:\GRAN31\SOUND\yobidashi.wav" />
    <!-- 単価切り替え音ファイルパス -->
    <add key="TANKA_PATH" value="D:\GRAN31\SOUND\tanka.wav" />
    <!-- 打席表示用画像ファイルパス -->
    <add key="FAIRWAI_PATH" value="D:\GRAN31\IMAGE\Green2.bmp" />
    <!-- スクールメニューファイルパス -->
    <add key="SCLMENU_PATH" value="C:\Users\Administrator\Desktop\スクールメニュー" />
    <!-- 予約受講画面ファイルパス -->
    <add key="SCL010_PATH" value="C:\Users\Administrator\Desktop\予約受講画面" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Security" publicKeyToken="0738EB9F132ED756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>